.main {
  min-height: 100vh;
  max-width: 100vw;
  padding: 1em;
  background-color: #939AA2;
  color: #FFFFFF;
}

.heading {
  font-size: 2em;
}

.heading > * {
  display: inline-block;
}

.heading > *:not(:first-child) {
  margin-left: 1em;
  color: #cbd3dc;
}

.content {
  background-color: #646D76;
  border: #000000 1px solid;
  padding: 1em;
}
